Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

manage-unraid-icons:
  steps:
  - name: sync-icons
    image: alpine:edge
    volumes:
    - name: appdata
      path: /appdata
    commands:
    - apk update && apk add rsync
    - mkdir -p /appdata/icons/
    - rsync -rv --delete --delete-excluded unraid-homelab/icons/ /appdata/icons/
    - chown -R 1000:1000 /appdata/icons
  ...

sync-icons:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  commands:
  - apk update && apk add rsync
  - mkdir -p /appdata/icons/
  - rsync -rv --delete --delete-excluded unraid-homelab/icons/ /appdata/icons/
  - chown -R 1000:1000 /appdata/icons
  - find /appdata/icons -type d -exec chmod 0755 {} \;
  ...

check-and-deploy:
  steps:
  - name: compose-config-check
    image: alpine:edge
    volumes:
    - name: dockersock
      path: /var/run/docker.sock
    environment:
      SOPS_AGE_KEY:
        from_secret: age-key
    commands:
    - apk update && apk add docker-compose sops
    - cd unraid-homelab/
  ...

compose-config-check:
  image: alpine:edge
  volumes:
  - name: dockersock
    path: /var/run/docker.sock
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add docker-compose sops
  - cd unraid-homelab/
  - sops exec-env secrets.encoded.env 'docker-compose -f docker-compose.yaml config' > /dev/null

move-recyclarr-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && mkdir -p /appdata/recyclarr/
  ...

move-authelia-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && mkdir -p /appdata/authelia/
  ...

move-traefik-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && /appdata/traefik/
  ...

deploy:
  image: alpine:edge
  volumes:
  - name: dockersock
    path: /var/run/docker.sock
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add docker-compose sops
  - cd unraid-homelab/
  ...

Update Mosquitto download URL to HTTPS
  unraid-homelab/hassio/mosquitto-auth/Dockerfile
Due: check-and-deploy, compose-config-check, deploy

fix: Traefik entrypoint redirection to use port 443
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: image build before migration
  unraid-homelab/hassio/mosquitto-auth/Dockerfile
Due: check-and-deploy, compose-config-check, deploy

feat: add hassio victoriametrics
  unraid-homelab/hassio/victoriametrics-compose.yaml
  unraid-homelab/icons/victoriametrics.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: add grafana instance
  unraid-homelab/icons/grafana.png
  unraid-homelab/tools/grafana-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: enable vmetrics & grafana
  unraid-homelab/hassio/docker-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: change setting to default
  unraid-homelab/tools/grafana-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: enable healthcheck
  unraid-homelab/hassio/victoriametrics-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: remove vmetric and grafana
  unraid-homelab/hassio/docker-compose.yaml
  unraid-homelab/hassio/victoriametrics-compose.yaml
  unraid-homelab/icons/grafana.png
  unraid-homelab/icons/victoriametrics.png
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/grafana-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: add ygege indexer
  unraid-homelab/icons/ygege.png
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/ygege-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: enable rootless images
  unraid-homelab/immich/machine-learning-compose.yaml
  unraid-homelab/immich/postgres-compose.yaml
  unraid-homelab/immich/redis-compose.yaml
  unraid-homelab/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: enable rootless images
  unraid-homelab/immich/postgres-compose.yaml
  unraid-homelab/immich/redis-compose.yaml
  unraid-homelab/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: update precommit
  .pre-commit-config.yaml
Due: none

feat: move booklore to grimmory
  unraid-homelab/icons/grimmory.png
  unraid-homelab/media/booklore/booklore-compose.yaml
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/grimmory/docker-compose.yaml
  unraid-homelab/media/grimmory/grimmory-compose.yaml
  unraid-homelab/media/grimmory/mariadb-compose.yaml
  unraid-homelab/secrets.encoded.env
  unraid-homelab/tools/db-backup-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: variable value
  unraid-homelab/tools/db-backup-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Add Docker mods for vuetorrent
  unraid-homelab/media/qbittorrent-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add clonarr
  unraid-homelab/icons/clonarr.png
  unraid-homelab/media/clonarr-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: disable recylarr
  unraid-homelab/media/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: remove recyclarr
  .archive/compose/recyclarr/recyclarr-compose.yaml
  .archive/compose/recyclarr/recyclarr.yaml
  unraid-homelab/icons/recyclarr.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: remove ygege
  .archive/compose/ygege-compose.yaml
  unraid-homelab/icons/ygege.png
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

Update error page query and template name
  unraid-homelab/ingress/errorpages-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Add non root container runtime
  unraid-homelab/media/shelfmark-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: review env var
  unraid-homelab/media/grimmory/grimmory-compose.yaml
  unraid-homelab/media/grimmory/mariadb-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add reolinkproxy for 2WayAudio
  unraid-homelab/hassio/frigate-compose.yaml
  unraid-homelab/secrets.encoded.env
Due: check-and-deploy, compose-config-check, deploy

Update NFS options for unraid_backups
  portainer-stacks/rpi4-stacks/backups-compose.yaml
Due: none

feat: move from adguard to technitium
  .archive/portainer/adguard-compose.yaml
  portainer-stacks/rpi4-stacks/backups-compose.yaml
  portainer-stacks/rpi4-stacks/dns-compose.yaml
Due: none

fix: container typo
  portainer-stacks/rpi4-stacks/backups-compose.yaml
Due: none

fix: edit camera stream
  unraid-homelab/hassio/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: update to unifi os server
  .archive/portainer/unifi-compose.yaml
  portainer-stacks/rpi4-stacks/unifi-compose.yaml
Due: none

fix: data persistance
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: auto nego connection speed
  portainer-stacks/rpi4-stacks/backups-compose.yaml
Due: none

feat(media): integrate librarian signal bot with gemini cover ocr
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/librarian/Dockerfile
  unraid-homelab/media/librarian/librarian-compose.yaml
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

feat(media): allow multiple authorized phone numbers for the bot
  unraid-homelab/media/librarian/librarian-compose.yaml
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

refactor(media): remove obsolete wife_number fallback and simplify env
  unraid-homelab/media/librarian/librarian-compose.yaml
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

feat: update secrets
  unraid-homelab/secrets.encoded.env
Due: check-and-deploy, compose-config-check, deploy

security(media): run librarian-bot container as non-root user (uid 1000)
  unraid-homelab/media/librarian/Dockerfile
Due: check-and-deploy, compose-config-check, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**
