Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

manage-unraid-icons:
  steps:
  - name: sync-icons
    image: alpine:edge
    volumes:
    - name: appdata
      path: /appdata
    commands:
    - apk update && apk add rsync
    - mkdir -p /appdata/icons/
    - rsync -rv --delete --delete-excluded unraid-homelab/icons/ /appdata/icons/
    - chown -R 1000:1000 /appdata/icons
  ...

sync-icons:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  commands:
  - apk update && apk add rsync
  - mkdir -p /appdata/icons/
  - rsync -rv --delete --delete-excluded unraid-homelab/icons/ /appdata/icons/
  - chown -R 1000:1000 /appdata/icons
  - find /appdata/icons -type d -exec chmod 0755 {} \;
  ...

check-and-deploy:
  steps:
  - name: compose-config-check
    image: alpine:edge
    volumes:
    - name: dockersock
      path: /var/run/docker.sock
    environment:
      SOPS_AGE_KEY:
        from_secret: age-key
    commands:
    - apk update && apk add docker-compose sops
    - cd unraid-homelab/
  ...

compose-config-check:
  image: alpine:edge
  volumes:
  - name: dockersock
    path: /var/run/docker.sock
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add docker-compose sops
  - cd unraid-homelab/
  - sops exec-env secrets.encoded.env 'docker-compose -f docker-compose.yaml config' > /dev/null

move-recyclarr-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && mkdir -p /appdata/recyclarr/
  ...

move-authelia-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && mkdir -p /appdata/authelia/
  ...

move-traefik-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && /appdata/traefik/
  ...

deploy:
  image: alpine:edge
  volumes:
  - name: dockersock
    path: /var/run/docker.sock
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add docker-compose sops
  - cd unraid-homelab/
  ...

feat(docker-image)!: Update ghcr.io/lldap/lldap Docker tag to v20240422
  unraid-homelab/security/lldap-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

ci(github-release): update actions/checkout digest to 1d96c77
  .github/workflows/run-bedrock-connect_docker-build.yaml
Due: none

chore(docker-image): update ghcr.io/lldap/lldap:2024-04-22 docker digest to 4c36602
  unraid-homelab/security/lldap-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to b248c20
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image)!: Update ghcr.io/lldap/lldap Docker tag to v20240423
  unraid-homelab/security/lldap-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: do not split immich backup dbs
  unraid-homelab/databases/db-backup-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(github-release): update dependency pugmatt/bedrockconnect to v1.43
  portainer-stacks/nuc4-stacks/bedrock-connect/Dockerfile
Due: none

chore(docker-image): update bitnami/redis:7.2.4 docker digest to 9c6fecd
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: precache facial recognition model
  unraid-homelab/tools/immich/machine-learning-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update eclipse-temurin docker tag to v11.0.23_9-jre
  portainer-stacks/nuc4-stacks/bedrock-connect/Dockerfile
Due: none

feat(docker-image): update ghcr.io/zaggash/bedrock-connect docker tag to v1.43
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image)!: Update ghcr.io/lldap/lldap Docker tag to v20240424
  unraid-homelab/security/lldap-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

ci(github-release): update actions/checkout digest to 0ad4b8f
  .github/workflows/run-bedrock-connect_docker-build.yaml
Due: none

chore(docker-image): update ghcr.io/zaggash/bedrock-connect:v1.43 docker digest to f714509
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update eclipse-temurin:11.0.23_9-jre docker digest to 9e31298
  portainer-stacks/nuc4-stacks/bedrock-connect/Dockerfile
Due: none

chore(docker-image): update ghcr.io/zaggash/bedrock-connect:v1.43 docker digest to 83bef5e
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update itzg/minecraft-server:java17 docker digest to cc96709
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 8d7907b
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update itzg/minecraft-server:java17 docker digest to b61d4a5
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 33ddda9
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.17.0.4448
  unraid-homelab/media/prowlarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add Jellyfin
  unraid-homelab/icons/jellyfin.png
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/jellyfin-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/onedr0p/prowlarr-develop:1.17.0.4448 docker digest to 66e786d
  unraid-homelab/media/prowlarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/onedr0p/radarr:5.4.6.8723 docker digest to 3198f09
  unraid-homelab/media/radarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/onedr0p/sonarr:4.0.4.1491 docker digest to 9c78b3a
  unraid-homelab/media/sonarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 875f2a7
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

fix: enable AMD transcoding drivers
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 2067702
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image): update drone/drone docker tag to v2.23.0
  unraid-homelab/tools/drone/drone-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update immich group to v1.103.1
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/microservices-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update traefik Docker tag to v3
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/linuxserver/jellyfin:10.8.13 docker digest to 90a59dc
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update eclipse-temurin:11.0.23_9-jre docker digest to 19862fc
  portainer-stacks/nuc4-stacks/bedrock-connect/Dockerfile
Due: none

chore(docker-image): update ghcr.io/zaggash/bedrock-connect:v1.43 docker digest to e75eb7c
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image): update dpage/pgadmin4 docker tag to v8.6
  unraid-homelab/databases/pgadmin4-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: v3 HostRegexp breaking change
  unraid-homelab/ingress/errorpages-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/linuxserver/jellyfin:10.8.13 docker digest to dc7ad66
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update bitnami/redis:7.2.4 docker digest to 5d7bd72
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 96a7940
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to b15e6fc
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**
