Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

manage-unraid-icons:
  steps:
  - name: sync-icons
    image: alpine:edge
    volumes:
    - name: appdata
      path: /appdata
    commands:
    - apk update && apk add rsync
    - mkdir -p /appdata/icons/
    - rsync -rv --delete --delete-excluded unraid-homelab/icons/ /appdata/icons/
    - chown -R 1000:1000 /appdata/icons
  ...

sync-icons:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  commands:
  - apk update && apk add rsync
  - mkdir -p /appdata/icons/
  - rsync -rv --delete --delete-excluded unraid-homelab/icons/ /appdata/icons/
  - chown -R 1000:1000 /appdata/icons
  - find /appdata/icons -type d -exec chmod 0755 {} \;
  ...

check-and-deploy:
  steps:
  - name: compose-config-check
    image: alpine:edge
    volumes:
    - name: dockersock
      path: /var/run/docker.sock
    environment:
      SOPS_AGE_KEY:
        from_secret: age-key
    commands:
    - apk update && apk add docker-compose sops
    - cd unraid-homelab/
  ...

compose-config-check:
  image: alpine:edge
  volumes:
  - name: dockersock
    path: /var/run/docker.sock
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add docker-compose sops
  - cd unraid-homelab/
  - sops exec-env secrets.encoded.env 'docker-compose -f docker-compose.yaml config' > /dev/null

move-recyclarr-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && mkdir -p /appdata/recyclarr/
  ...

move-authelia-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && mkdir -p /appdata/authelia/
  ...

move-traefik-config:
  image: alpine:edge
  volumes:
  - name: appdata
    path: /appdata
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add sops envsubst
  - cd unraid-homelab/ && /appdata/traefik/
  ...

deploy:
  image: alpine:edge
  volumes:
  - name: dockersock
    path: /var/run/docker.sock
  environment:
    SOPS_AGE_KEY:
      from_secret: age-key
  commands:
  - apk update && apk add docker-compose sops
  - cd unraid-homelab/
  ...

chore: cleanup renovate
  .github/renovate.json5
Due: none

feat: migrate to dynsec json auth + cleanup
  .github/renovate.json5
  .github/workflows/run-mosquitto-auth_docker-build.yaml
  unraid-homelab/hassio/mosquitto-auth/Dockerfile
  unraid-homelab/hassio/mosquitto-auth/README.md
  unraid-homelab/hassio/mqtt-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add seerr
  unraid-homelab/icons/seerr.png
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/seerr-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

Better aligned image agent versionning
  unraid-homelab/tools/hermes/Dockerfile
Due: check-and-deploy, compose-config-check, deploy

feat: add auto build
  .github/renovate.json5
  .github/workflows/run-hermes_docker-build.yaml
Due: none

chore: use custom image
  unraid-homelab/tools/hermes/hermes-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: use custom image
  .github/renovate.json5
  .github/workflows/run-hermes_docker-build.yaml
  unraid-homelab/tools/hermes/hermes-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: add secret key
  unraid-homelab/secrets.encoded.env
  unraid-homelab/tools/homebox-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: enable dispatcharr
  unraid-homelab/icons/dispatcharr.png
  unraid-homelab/media/dispatcharr-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: enable dispatcharr
  unraid-homelab/media/dispatcharr-compose.yaml
  unraid-homelab/security/gluetun-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add media folder
  unraid-homelab/media/dispatcharr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: cleanup networks
  unraid-homelab/media/dispatcharr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: data management
  unraid-homelab/media/dispatcharr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Add HERMES_UID and HERMES_GID
  unraid-homelab/tools/hermes/hermes-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Update Redis image to version 9
  unraid-homelab/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(librarian): allow book cover photos without trigger prefix
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

fix(librarian): abort book search when max similarity is below confidence threshold
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

fix(librarian): ignore sync messages sent to other contacts
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

feat: remove dispatcharr
  .archive/compose/dispatcharr-compose.yaml
  unraid-homelab/icons/dispatcharr.png
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: add shm larger fix size
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: add shm fix size
  unraid-homelab/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

CI: cleanup
  .drone.yml
Due: manage-unraid-icons, check-and-deploy

fix: remap ports and volumes
  portainer-stacks/rpi4-stacks/unifi-compose.yaml
Due: none

fix: update unifi port
  unraid-homelab/ingress/traefik/configFile.yaml
Due: check-and-deploy, compose-config-check, move-traefik-config, deploy

fix: backup volume mapping
  portainer-stacks/rpi4-stacks/backups-compose.yaml
Due: none

feat: add bd manga comics folder
  unraid-homelab/media/grimmory/grimmory-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: update config
  infra/rpi4/cloud-init/config_rpi4_coreos.yaml
Due: none

feat: add Komga comics reader
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/komga-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: camera issue mitigation
  unraid-homelab/hassio/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: disable shelfmark
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/shelfmark-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(librarian): add Byparr fallback for search and normalize title accents
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

fix(media): switch flaresolverr service to Byparr image
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(librarian): update search timeout to 60s for Byparr and reduce retries
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

fix(librarian): add direct Libgen.li fallback search with query candidate decomposition
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

chore(media): update Byparr image to v3.0.3
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(librarian): prioritize Libgen.li primary search for fast and captcha-free retrieval
  unraid-homelab/media/librarian/librarian_signal.py
Due: check-and-deploy, compose-config-check, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**
