Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**

feat(docker-image)!: Update ghcr.io/lldap/lldap Docker tag to v20240506
  unraid-homelab/security/lldap-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/linuxserver/jellyfin:10.8.13 docker digest to 89f4e1d
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: calibre-web UI issue
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

ci(github-release): update actions/checkout digest to 44c2b7a
  .github/workflows/run-bedrock-connect_docker-build.yaml
Due: none

chore(docker-image): update ghcr.io/zaggash/bedrock-connect:v1.43 docker digest to 2947aa6
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image): update ghcr.io/pi-hole/pihole docker tag to v2024.05.0
  portainer-stacks/rpi4-stacks/pihole-compose.yaml
Due: none

chore(docker-image): update ghcr.io/onedr0p/plex:1.40.2.8395-c67dce28e docker digest to 44a520c
  unraid-homelab/media/plex-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

ci(github-release): update actions/checkout digest to 0ad4b8f
  .github/workflows/run-bedrock-connect_docker-build.yaml
Due: none

chore(docker-image): update ghcr.io/zaggash/bedrock-connect:v1.43 docker digest to a7a69c4
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 699a678
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.17.2.4511
  unraid-homelab/media/prowlarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update ghcr.io/onedr0p/radarr docker tag to v5.5.3.8819
  unraid-homelab/media/radarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update drone/drone docker tag to v2.24.0
  unraid-homelab/tools/drone/drone-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: linuxserver split and general syntax
  .github/renovate.json5
Due: none

chore(docker-image): update bitnami/redis:7.2.4 docker digest to 013b9b9
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update ghcr.io/linuxserver/calibre-web Docker tag to v2021
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update ghcr.io/linuxserver/calibre-web Docker tag to v5
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update ghcr.io/linuxserver/jellyfin Docker tag to v2021
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update immich group to v1.104.0
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/microservices-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update bitnami/redis:7.2.4 docker digest to 70cafc5
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update ghcr.io/linuxserver/jellyfin docker tag to v10.9.1
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: linuxserver semver match
  .github/renovate.json5
Due: none

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 738e9c3
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update ghcr.io/onedr0p/plex:1.40.2.8395-c67dce28e docker digest to 3861cc9
  unraid-homelab/media/plex-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/onedr0p/prowlarr-develop:1.17.2.4511 docker digest to 01dce2a
  unraid-homelab/media/prowlarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/onedr0p/qbittorrent:4.6.4 docker digest to 53ead5a
  unraid-homelab/media/qbittorrent-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/onedr0p/sonarr:4.0.4.1491 docker digest to b513d38
  unraid-homelab/media/sonarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update ghcr.io/onedr0p/radarr docker tag to v5.6.0.8846
  unraid-homelab/media/radarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update immich group to v1.105.0
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/microservices-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update immich group to v1.105.1
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/microservices-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: remove global error handling
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: move Mobile Push from US to EU
  unraid-homelab/secrets.encoded.env
  unraid-homelab/tools/vaultwarden-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update ghcr.io/linuxserver/jellyfin docker tag to v10.9.2
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update redis:6.2-alpine docker digest to c0634a0
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 65d657e
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update ghcr.io/linuxserver/jellyfin:10.9.2 docker digest to f1a97c6
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to f9e7956
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update bitnami/redis docker tag to v7.2.5
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add sftpgo
  unraid-homelab/icons/sftpgo.png
  unraid-homelab/secrets.encoded.env
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/sftpgo-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to dcb55bf
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none
