Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**

feat: remove plex definition Move plex IP to Jellyfin
  .archive/compose/plex-compose.yaml
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: update and fix new gitleaks
  .drone.yml
  .gitleaksignore
Due: manage-unraid-icons, check-and-deploy

feat: Add jellyseer
  unraid-homelab/icons/jellyseer.png
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/jellyseer-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: better icon and service rename
  unraid-homelab/icons/jellyseer.png
  unraid-homelab/icons/jellyseerr.png
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/jellyseer-compose.yaml
  unraid-homelab/media/jellyseerr-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: Fixing flaresolverr
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: move to Calibre-Web-Automated
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add calibre
  unraid-homelab/icons/calibre.png
  unraid-homelab/media/calibre-compose.yaml
  unraid-homelab/media/calibre-web-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: Move Minecraft Server
  .github/renovate.json5
  .github/workflows/run-bedrock-connect_docker-build.yaml
  portainer-stacks/nuc4-stacks/backups-compose.yaml
  unraid-homelab/icons/bedrock-connect.png
  unraid-homelab/icons/minecraft.png
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/minecraft/bedrock-connect/Dockerfile
  unraid-homelab/tools/minecraft/bedrock-connect/custom_servers.json
  unraid-homelab/tools/minecraft/minecraft-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: remove dynmap plugin Split compose files
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/minecraft/bedrock-connect-compose.yaml
  unraid-homelab/tools/minecraft/docker-compose.yaml
  unraid-homelab/tools/minecraft/minecraft-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: enable local rcon
  unraid-homelab/tools/minecraft/minecraft-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: add anticheat system
  unraid-homelab/tools/minecraft/minecraft-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: use generic docker build action
  .github/workflows/run-bedrock-connect_docker-build.yaml
Due: none

fix: set correct path
  .github/renovate.json5
Due: none

feat: Add app twitchdropsminer
  unraid-homelab/icons/twitchdropsminer.png
  unraid-homelab/secrets.encoded.env
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/twitchdropsminer-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore: change seed
  unraid-homelab/tools/minecraft/minecraft-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: Fix breaking changes and update compose files
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/postgres-compose.yaml
  unraid-homelab/tools/immich/redis-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: Move config folder
  unraid-homelab/tools/twitchdropsminer-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: use original calibre-web
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: update logo
  unraid-homelab/icons/backrest.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: split gaming files
  .github/renovate.json5
  unraid-homelab/docker-compose.yaml
  unraid-homelab/gaming/docker-compose.yaml
  unraid-homelab/gaming/minecraft/bedrock-connect-compose.yaml
  unraid-homelab/gaming/minecraft/bedrock-connect/Dockerfile
  unraid-homelab/gaming/minecraft/bedrock-connect/custom_servers.json
  unraid-homelab/gaming/minecraft/docker-compose.yaml
  unraid-homelab/gaming/minecraft/minecraft-compose.yaml
  unraid-homelab/gaming/twitchdropsminer-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add satisfactory server
  unraid-homelab/gaming/satisfactory-compose.yaml
  unraid-homelab/icons/satisfactory.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore: edit gaming restart policy
  unraid-homelab/gaming/minecraft/bedrock-connect-compose.yaml
  unraid-homelab/gaming/minecraft/minecraft-compose.yaml
  unraid-homelab/gaming/satisfactory-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: fix dockerfile path
  .github/workflows/run-bedrock-connect_docker-build.yaml
Due: none

feat: update bedrock-connect flow
  .github/renovate.json5
Due: none

chore: add import folder
  unraid-homelab/media/calibre-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: use ssl
  unraid-homelab/media/calibre-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Revert "feat(docker-image): update traefik docker tag to v3.3.0"
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add frigate && remove minio template
  unraid-homelab/icons/frigate.png
  unraid-homelab/secrets.encoded.env
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/frigate-compose.yaml
  unraid-homelab/tools/minio-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore: update scheme
  unraid-homelab/tools/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: add adguard
  portainer-stacks/rpi4-stacks/backups-compose.yaml
Due: none

fix: new icon
  unraid-homelab/icons/frigate.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: change restart policy
  unraid-homelab/gaming/satisfactory-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: disable satisfactory and minecraft server
  unraid-homelab/gaming/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: new SmartHome folder
  unraid-homelab/docker-compose.yaml
  unraid-homelab/smart-home/docker-compose.yaml
  unraid-homelab/smart-home/frigate-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: change minecraft folder
  unraid-homelab/gaming/minecraft/bedrock-connect-compose.yaml
  unraid-homelab/gaming/minecraft/minecraft-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: frigate port sec
  unraid-homelab/ingress/traefik/traefik-compose.yaml
  unraid-homelab/smart-home/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: remove frigate
  unraid-homelab/docker-compose.yaml
  unraid-homelab/icons/frigate.png
  unraid-homelab/ingress/traefik/traefik-compose.yaml
  unraid-homelab/smart-home/docker-compose.yaml
  unraid-homelab/smart-home/frigate-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: rework network
  unraid-homelab/databases/pgadmin4-compose.yaml
  unraid-homelab/docker-compose.yaml
  unraid-homelab/gaming/docker-compose.yaml
  unraid-homelab/gaming/minecraft/bedrock-connect-compose.yaml
  unraid-homelab/gaming/minecraft/minecraft-compose.yaml
  unraid-homelab/gaming/satisfactory-compose.yaml
  unraid-homelab/ingress/docker-compose.yaml
  unraid-homelab/ingress/errorpages-compose.yaml
  unraid-homelab/ingress/traefik/docker-compose.yaml
  unraid-homelab/ingress/traefik/traefik-compose.yaml
  unraid-homelab/media/calibre-compose.yaml
  unraid-homelab/media/calibre-web-compose.yaml
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/flaresolver-compose.yaml
  unraid-homelab/media/jellyfin-compose.yaml
  unraid-homelab/media/jellyseerr-compose.yaml
  unraid-homelab/media/prowlarr-compose.yaml
  unraid-homelab/media/qbittorrent-compose.yaml
  unraid-homelab/media/radarr-compose.yaml
  unraid-homelab/media/recyclarr/recyclarr-compose.yaml
  unraid-homelab/media/sonarr-compose.yaml
  unraid-homelab/security/authelia/authelia-compose.yaml
  unraid-homelab/security/authelia/docker-compose.yaml
  unraid-homelab/security/lldap-compose.yaml
  unraid-homelab/tools/backrest-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/drone/docker-compose.yaml
  unraid-homelab/tools/drone/drone-compose.yaml
  unraid-homelab/tools/immich/docker-compose.yaml
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
  unraid-homelab/tools/sftpgo-compose.yaml
  unraid-homelab/tools/twitchdropsminer-compose.yaml
  unraid-homelab/tools/vaultwarden-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: clean comment
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy
