Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**

fix: make mount rw
  unraid-homelab/tools/backrest-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: network rework - part 2
  unraid-homelab/databases/docker-compose.yaml
  unraid-homelab/docker-compose.yaml
  unraid-homelab/hassio/docker-compose.yaml
  unraid-homelab/ingress/docker-compose.yaml
  unraid-homelab/ingress/errorpages-compose.yaml
  unraid-homelab/ingress/traefik/docker-compose.yaml
  unraid-homelab/ingress/traefik/traefik-compose.yaml
  unraid-homelab/security/authelia/authelia-compose.yaml
  unraid-homelab/security/authelia/docker-compose.yaml
  unraid-homelab/security/lldap-compose.yaml
  unraid-homelab/tools/backrest-compose.yaml
  unraid-homelab/tools/drone/docker-compose.yaml
  unraid-homelab/tools/drone/drone-compose.yaml
  unraid-homelab/tools/immich/docker-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
  unraid-homelab/tools/vaultwarden-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: remove ipvlan for Jellyfin
  unraid-homelab/docker-compose.yaml
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: Migrate hassio
  unraid-homelab/docker-compose.yaml
  unraid-homelab/hassio/docker-compose.yaml
  unraid-homelab/hassio/esphome-compose.yaml
  unraid-homelab/hassio/mqtt-compose.yaml
  unraid-homelab/hassio/server-compose.yaml
  unraid-homelab/hassio/somfyprotect2mqtt-compose.yaml
  unraid-homelab/hassio/z2m-compose.yaml
  unraid-homelab/icons/esphome.png
  unraid-homelab/icons/hassio.png
  unraid-homelab/icons/mqtt.png
  unraid-homelab/icons/somfyprotect.png
  unraid-homelab/icons/z2m.png
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: add media share
  unraid-homelab/hassio/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: open port local
  unraid-homelab/hassio/mqtt-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add mosquitto + auth build
  .github/renovate.json5
  .github/workflows/run-mosquitto-auth_docker-build.yaml
  unraid-homelab/hassio/mosquitto-auth/Dockerfile
Due: check-and-deploy, compose-config-check, deploy

feat: group updates
  .github/renovate.json5
Due: none

feat: cleanup
  .github/renovate.json5
Due: none

fix: change file path
  .github/workflows/run-mosquitto-auth_docker-build.yaml
Due: none

chore: change image
  unraid-homelab/hassio/mqtt-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: add quick doc
  unraid-homelab/hassio/mosquitto-auth/README.md
Due: check-and-deploy, compose-config-check, deploy

chore: add update command [skip ci]
  unraid-homelab/hassio/mosquitto-auth/README.md
Due: check-and-deploy, compose-config-check, deploy

feat: add frigate
  unraid-homelab/hassio/docker-compose.yaml
  unraid-homelab/hassio/frigate-compose.yaml
  unraid-homelab/hassio/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: add frigate network
  unraid-homelab/hassio/docker-compose.yaml
  unraid-homelab/hassio/frigate-compose.yaml
  unraid-homelab/hassio/mqtt-compose.yaml
  unraid-homelab/hassio/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: error with current user
  unraid-homelab/hassio/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: tweaks custom formats
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

feat: add new anime format
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

fix: add missing icon
  unraid-homelab/icons/frigate.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: rework CF
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

fix: force negative values
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

fix: cleanup config
  unraid-homelab/ingress/traefik/configFile.yaml
Due: check-and-deploy, compose-config-check, move-traefik-config, deploy

chore: enable fansub for tv show
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

fix: pin esphome version
  unraid-homelab/hassio/esphome-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: add more shm
  unraid-homelab/hassio/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: temp change to thephaseless/byparr
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

no build for am64 on 1.0.7, move to move to fix version
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: back to upstream semver tag
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: change deprecated env
  unraid-homelab/tools/immich/machine-learning-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: add TZ to containers
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/postgres-compose.yaml
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

patch: update ML container version
  unraid-homelab/tools/immich/machine-learning-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Feat: disable frigate for now
  unraid-homelab/hassio/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: change redis registry
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: new pgvector extension image
  unraid-homelab/tools/immich/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: move onedr0p image to new repo & update
  unraid-homelab/media/prowlarr-compose.yaml
  unraid-homelab/media/qbittorrent-compose.yaml
  unraid-homelab/media/radarr-compose.yaml
  unraid-homelab/media/sonarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: split build process
  unraid-homelab/hassio/mosquitto-auth/Dockerfile
Due: check-and-deploy, compose-config-check, deploy

fix: match modified image
  unraid-homelab/hassio/mqtt-compose.yaml
Due: check-and-deploy, compose-config-check, deploy
