Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.22 docker digest to 0caef2d
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 91cecf5
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.21.0.4615
  unraid-homelab/media/prowlarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 86ce95a
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

fix(docker-image): update ghcr.io/onedr0p/sonarr docker tag to v4.0.7.1863
  unraid-homelab/media/sonarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update traefik docker tag to v3.1.0
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/linuxserver/jellyfin:10.9.7 docker digest to 6844dff
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update ghcr.io/onedr0p/sonarr docker tag to v4.0.8.1874
  unraid-homelab/media/sonarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to f342a16
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update itzg/minecraft-server:java17 docker digest to ee663ee
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image): update immich group to v1.109.2
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 1254fd0
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image)!: Update ghcr.io/lldap/lldap Docker tag to v20240720
  unraid-homelab/security/lldap-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 9325bd0
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.22 docker digest to 604ae90
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.21.1.4631
  unraid-homelab/media/prowlarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update ghcr.io/linuxserver/jellyfin docker tag to v10.9.8
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to c30278e
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image): update ghcr.io/onedr0p/radarr docker tag to v5.8.3.8933
  unraid-homelab/media/radarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to feaa325
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat(docker-image): update ghcr.io/jacobalberty/unifi-docker docker tag to v8.3.32
  portainer-stacks/rpi4-stacks/unifi-compose.yaml
Due: none

chore(docker-image): update traefik:v3.1.0 docker digest to 2e61bf4
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update redis:6.2-alpine docker digest to b255b20
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update traefik:v3.1.0 docker digest to 7258aa3
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update traefik:v3.1.0 docker digest to b24db25
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update redis:6.2-alpine docker digest to a53b1b1
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: change alpine version to fix compose variable issue. see: https://github.com/docker/compose/issues/12005
  .drone.yml
Due: manage-unraid-icons, check-and-deploy

fix: read stderr and exit if any output
  .drone.yml
Due: manage-unraid-icons, check-and-deploy

chore(docker-image): update traefik:v3.1.0 docker digest to 24773b7
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update redis:6.2-alpine docker digest to bb9d207
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 88c862e
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

fix(docker-image): update eclipse-temurin docker tag to v11.0.24_8-jre
  portainer-stacks/nuc4-stacks/bedrock-connect/Dockerfile
Due: none

chore(docker-image): update ghcr.io/zaggash/bedrock-connect:v1.47 docker digest to 4b56d17
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

chore(docker-image): update redis:6.2-alpine docker digest to 9d79dad
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update redis:6.2-alpine docker digest to 06a42ae
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update bitnami/redis:7.2.5 docker digest to 2253e8d
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update redis:6.2-alpine docker digest to e3b17ba
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update bitnami/redis:7.2.5 docker digest to 5d40f47
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: change deprecated key
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

feat: replace pihole with adguard
  .archive/compose/pihole-compose.yaml
  portainer-stacks/rpi4-stacks/adguard-compose.yaml
Due: none
