Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**

reflect changes from new image
  unraid-homelab/hassio/mosquitto-auth/README.md
Due: check-and-deploy, compose-config-check, deploy

Set final image sha
  unraid-homelab/hassio/mosquitto-auth/Dockerfile
Due: check-and-deploy, compose-config-check, deploy

fix: set shm size to 2G
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: update postgres extension version
  unraid-homelab/tools/immich/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: setup tun
  unraid-homelab/ingress/traefik/traefik-compose.yaml
  unraid-homelab/media/qbittorrent-compose.yaml
  unraid-homelab/secrets.encoded.env
  unraid-homelab/security/docker-compose.yaml
  unraid-homelab/security/gluetun-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: missing icon
  unraid-homelab/icons/gluetun.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore: add qbittorent semver filtering
  .github/renovate.json5
Due: none

chore: share tun network
  unraid-homelab/media/prowlarr-compose.yaml
  unraid-homelab/media/radarr-compose.yaml
  unraid-homelab/media/sonarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: set tun network aliases
  unraid-homelab/security/gluetun-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: fix folder label
  .archive/compose/plex-compose.yaml
  unraid-homelab/databases/db-backup-compose.yaml
  unraid-homelab/gaming/minecraft/bedrock-connect-compose.yaml
  unraid-homelab/gaming/minecraft/minecraft-compose.yaml
  unraid-homelab/gaming/satisfactory-compose.yaml
  unraid-homelab/hassio/esphome-compose.yaml
  unraid-homelab/hassio/frigate-compose.yaml
  unraid-homelab/hassio/mqtt-compose.yaml
  unraid-homelab/hassio/server-compose.yaml
  unraid-homelab/hassio/somfyprotect2mqtt-compose.yaml
  unraid-homelab/hassio/z2m-compose.yaml
  unraid-homelab/ingress/errorpages-compose.yaml
  unraid-homelab/ingress/traefik/socket-compose.yaml
  unraid-homelab/ingress/traefik/traefik-compose.yaml
  unraid-homelab/media/calibre-compose.yaml
  unraid-homelab/media/calibre-web-compose.yaml
  unraid-homelab/media/flaresolver-compose.yaml
  unraid-homelab/media/jellyfin-compose.yaml
  unraid-homelab/media/prowlarr-compose.yaml
  unraid-homelab/media/qbittorrent-compose.yaml
  unraid-homelab/media/radarr-compose.yaml
  unraid-homelab/media/recyclarr/recyclarr-compose.yaml
  unraid-homelab/media/sonarr-compose.yaml
  unraid-homelab/security/authelia/authelia-compose.yaml
  unraid-homelab/security/authelia/redis-compose.yaml
  unraid-homelab/security/gluetun-compose.yaml
  unraid-homelab/security/lldap-compose.yaml
  unraid-homelab/tools/backrest-compose.yaml
  unraid-homelab/tools/drone/drone-compose.yaml
  unraid-homelab/tools/drone/plugin-compose.yaml
  unraid-homelab/tools/drone/runner-compose.yaml
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/postgres-compose.yaml
  unraid-homelab/tools/immich/redis-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
  unraid-homelab/tools/sftpgo-compose.yaml
  unraid-homelab/tools/twitchdropsminer-compose.yaml
  unraid-homelab/tools/vaultwarden-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: label typo
  unraid-homelab/databases/db-backup-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

align upload location volume
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix postgres shm
  unraid-homelab/tools/immich/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

align postgres vectorchord version
  unraid-homelab/tools/immich/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: migrate to CWA
  unraid-homelab/media/calibre-web-compose.yaml
  unraid-homelab/secrets.encoded.env
Due: check-and-deploy, compose-config-check, deploy

feat: add CWA downloader
  unraid-homelab/icons/calibre-web-book-downloader.png
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: add CWA downloader
  unraid-homelab/media/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add CWA downloader
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: change image source to ghcr
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: set semver version
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: enable frigate
  unraid-homelab/hassio/docker-compose.yaml
  unraid-homelab/hassio/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: expose ports
  unraid-homelab/hassio/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Update redis image
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: cleanup ports
  unraid-homelab/hassio/frigate-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: Fix language scores
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

fix: set image to external CF bypass
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: add backend network
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add audiobookshelf
  unraid-homelab/icons/audiobookshelf.png
  unraid-homelab/media/audiobookshelf-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: add audiobookrequest
  unraid-homelab/icons/audiobookrequest.png
  unraid-homelab/media/audiobookrequest-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: set logging env
  unraid-homelab/media/audiobookrequest-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: remove audiobook request
  unraid-homelab/icons/audiobookrequest.png
  unraid-homelab/media/audiobookrequest-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: add bookshelf
  unraid-homelab/media/bookshelf-compose.yaml
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: cleanup and fixes
  .github/renovate.json5
Due: none

fix: change host rules
  unraid-homelab/media/bookshelf-compose.yaml
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: missing data path
  unraid-homelab/media/bookshelf-compose.yaml
Due: check-and-deploy, compose-config-check, deploy
