Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

Path conditions:
  manage-unraid-icons: any of: .drone.yml, unraid-homelab/icons/**
  sync-icons: any of: unraid-homelab/icons/**
  check-and-deploy: any of: .drone.yml, unraid-homelab/**, but not: unraid-homelab/icons
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**

fix: delete bookshelf
  unraid-homelab/media/bookshelf-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: add homebox inventory
  unraid-homelab/icons/homebox.png
  unraid-homelab/icons/jellyseerr.png
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/homebox-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: disable auto registration
  unraid-homelab/tools/homebox-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: set version to latest alpine * waiting for next version to follow semver * remove renovate special filter
  .github/renovate.json5
  unraid-homelab/security/lldap-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: allow Theme songs plugin access
  unraid-homelab/media/jellyfin-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: set timezone
  infra/rpi4/cloud-init/config_rpi4_coreos.yaml
Due: none

feat: add booklore to replace CWA
  unraid-homelab/icons/booklore.svg
  unraid-homelab/icons/mariadb.png
  unraid-homelab/media/booklore/booklore-compose.yaml
  unraid-homelab/media/booklore/docker-compose.yaml
  unraid-homelab/media/booklore/mariadb-compose.yaml
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/secrets.encoded.env
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: replace calibre & calibre-web
  .archive/compose/calibre-compose.yaml
  .archive/compose/calibre-web-compose.yaml
  unraid-homelab/media/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: replace svg to png
  unraid-homelab/icons/booklore.png
  unraid-homelab/icons/booklore.svg
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore: cleanup icons
  unraid-homelab/icons/calibre-web.png
  unraid-homelab/icons/calibre.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: moving to booklore
  unraid-homelab/media/audiobookshelf-compose.yaml
  unraid-homelab/media/booklore/booklore-compose.yaml
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: remove immich backup, add booklore backup
  unraid-homelab/databases/db-backup-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: enable n8n
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/n8n-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: cleanup icons
  unraid-homelab/icons/plex-server.png
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: add n8n
  unraid-homelab/icons/n8n.png
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/n8n-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

chore: tweak n8n
  unraid-homelab/tools/n8n-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: repo cleanup
  unraid-homelab/databases/docker-compose.yaml
  unraid-homelab/docker-compose.yaml
  unraid-homelab/drone/docker-compose.yaml
  unraid-homelab/drone/drone-compose.yaml
  unraid-homelab/drone/plugin-compose.yaml
  unraid-homelab/drone/runner-compose.yaml
  unraid-homelab/immich/docker-compose.yaml
  unraid-homelab/immich/machine-learning-compose.yaml
  unraid-homelab/immich/postgres-compose.yaml
  unraid-homelab/immich/redis-compose.yaml
  unraid-homelab/immich/server-compose.yaml
  unraid-homelab/security/authelia/authelia-compose.yaml
  unraid-homelab/security/authelia/redis-compose.yaml
  unraid-homelab/security/lldap-compose.yaml
  unraid-homelab/tools/db-backup-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: update valkey
  unraid-homelab/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Revert "fix(docker-image): update traefik docker tag to v3.6.1"
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: remove tdm
  .archive/compose/twitchdropsminer-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: update Custom Format
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

fix: cleanup network section
  unraid-homelab/tools/n8n-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: setup ownfoil
  unraid-homelab/tools/docker-compose.yaml
  unraid-homelab/tools/ownfoil-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: disable ownfoil
  .archive/compose/ownfoil-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: enable init, trying to mitigate Z process
  unraid-homelab/media/flaresolver-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: review variables
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: image swap & fix traefik 3.6.1 API check
  unraid-homelab/ingress/traefik/socket-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: image swap & fix traefik 3.6.1 API check
  unraid-homelab/ingress/traefik/socket-compose.yaml
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: try default image, default to welib
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat: repo name change + config
  unraid-homelab/icons/shelfmark.png
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
  unraid-homelab/media/shelfmark-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

feat: repo name change + config
  unraid-homelab/icons/shelfmark.png
  unraid-homelab/media/calibre-web-book-downloader-compose.yaml
  unraid-homelab/media/docker-compose.yaml
  unraid-homelab/media/shelfmark-compose.yaml
Due: manage-unraid-icons, sync-icons, check-and-deploy, compose-config-check, deploy

fix: duplicate network entry
  unraid-homelab/hassio/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Update backrest image source to GHCR
  unraid-homelab/tools/backrest-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Add timeout settings for Immich
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Update machine learning model references
  unraid-homelab/immich/machine-learning-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

Change Renovate schedule to run every 2 hours
  .github/workflows/run-renovate.yaml
Due: none

Add healthcheck option configuration
  unraid-homelab/immich/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy
