Repository zaggash/homelab: changes, and which Drone steps are due for each by the changed paths.
All: check-and-deploy, compose-config-check, move-recyclarr-config, move-authelia-config, move-traefik-config, deploy

Path conditions:
  check-and-deploy: any of: .drone.yml, unraid-homelab/**
  compose-config-check: any of: unraid-homelab/**
  move-recyclarr-config: any of: unraid-homelab/**/recyclarr/recyclarr.yaml
  move-authelia-config: any of: unraid-homelab/**/authelia/configuration.yml
  move-traefik-config: any of: unraid-homelab/**/traefik/configFile.yaml
  deploy: any of: unraid-homelab/**

fix: Disable VFQ && review pipeline
  .drone.yml
  .pre-commit-config.yaml
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

fix: reset recyclarr
  unraid-homelab/media/recyclarr/recyclarr.yaml
Due: check-and-deploy, compose-config-check, move-recyclarr-config, deploy

chore(docker-image): update eclipse-temurin:11.0.22_7-jre docker digest to 8019df3
  portainer-stacks/nuc4-stacks/bedrock-connect/Dockerfile
Due: none

feat: add backrest
  unraid-homelab/secrets.encoded.env
  unraid-homelab/tools/backrest-compose.yaml
  unraid-homelab/tools/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update itzg/minecraft-server:java17 docker digest to 9579cd3
  portainer-stacks/nuc4-stacks/minecraft-compose.yaml
Due: none

feat: move backups location
  portainer-stacks/nuc4-stacks/backups-compose.yaml
  portainer-stacks/rpi4-stacks/backups-compose.yaml
Due: none

fix: update restart settings
  unraid-homelab/ingress/traefik/socket-compose.yaml
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: remove user settings
  unraid-homelab/tools/backrest-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: add mount propagation
  unraid-homelab/tools/backrest-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update bitnami/redis:7.2.4 docker digest to d9ea623
  unraid-homelab/security/authelia/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: keep cache folder
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: do not force access log config
  unraid-homelab/ingress/traefik/configFile.yaml
  unraid-homelab/ingress/traefik/traefik-compose.yaml
Due: check-and-deploy, compose-config-check, move-traefik-config, deploy

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.40.2.8395-c67dce28e
  unraid-homelab/media/plex-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update redis:6.2-alpine docker digest to 84882e8
  unraid-homelab/tools/immich/redis-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: prefer linuxserver image
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update ghcr.io/linuxserver/calibre-web Docker tag to v2021
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update ghcr.io/linuxserver/calibre-web Docker tag to v5
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: kobo sync issue
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: set linuxserver images semver compatible
  .github/renovate.json5
Due: none

feat: rework pipelines
  .drone.yml
Due: check-and-deploy

feat: enable db-backup fix: pipeline typo
  .drone.yml
  unraid-homelab/databases/db-backup-compose.yaml
  unraid-homelab/databases/docker-compose.yaml
  unraid-homelab/docker-compose.yaml
  unraid-homelab/icons/db-backup.png
  unraid-homelab/secrets.encoded.env
Due: check-and-deploy, compose-config-check, deploy

chore: assign folder
  unraid-homelab/databases/db-backup-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: disable container monitoring
  unraid-homelab/databases/db-backup-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore: cleanup file
  unraid-homelab/databases/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update garethgeorge/backrest docker tag to v0.17.2
  unraid-homelab/tools/backrest-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.16.2.4435
  unraid-homelab/media/prowlarr-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image): update immich group to v1.102.3
  unraid-homelab/tools/immich/machine-learning-compose.yaml
  unraid-homelab/tools/immich/microservices-compose.yaml
  unraid-homelab/tools/immich/server-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

chore(docker-image): update ghcr.io/linuxserver/calibre-web:0.6.21 docker digest to 153babf
  unraid-homelab/media/calibre-web-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

fix: check if folder exists
  .drone.yml
Due: check-and-deploy

chore: do not use default redirection
  unraid-homelab/security/authelia/configuration.yml
Due: check-and-deploy, compose-config-check, move-authelia-config, deploy

feat: add authentik
  unraid-homelab/secrets.encoded.env
  unraid-homelab/security/authentik/docker-compose.yaml
  unraid-homelab/security/authentik/ldap-outpost-compose.yaml
  unraid-homelab/security/authentik/postgres-compose.yaml
  unraid-homelab/security/authentik/redis-compose.yaml
  unraid-homelab/security/authentik/server-compose.yaml
  unraid-homelab/security/authentik/worker-compose.yaml
  unraid-homelab/security/docker-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update docker.io/library/postgres Docker tag to v13
  unraid-homelab/security/authentik/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update docker.io/library/postgres Docker tag to v14
  unraid-homelab/security/authentik/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update docker.io/library/postgres Docker tag to v15
  unraid-homelab/security/authentik/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

feat(docker-image)!: Update docker.io/library/postgres Docker tag to v16
  unraid-homelab/security/authentik/postgres-compose.yaml
Due: check-and-deploy, compose-config-check, deploy

ci(github-release): update actions/checkout digest to 1d96c77
  .github/workflows/run-bedrock-connect_docker-build.yaml
Due: none

chore: update secrets
  unraid-homelab/secrets.encoded.env
Due: check-and-deploy, compose-config-check, deploy
